
body {
   display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  color: #030303;

  background-image: url("imagem/foto-fundo.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}
body > :not(footer) {
  flex-shrink: 0;
}




.cabecalho h2{
  position: fixed;
  top: 40px;
  left: 20px;
  font-size: 15px;
}
.cabecalho h1{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
 font-size: 55px;
  font-family: "Audiowide", sans-serif;
  font-style: normal;
  
}



header {
    background: linear-gradient(to right, #a19e9e28, #2d3f5831);
  color: #fff;
  text-align: center;
  padding: 4%;
}


nav a {
  color: #fff;
  text-decoration-color: #00ccff;
  margin: 0 10px;
}





      /*Rodapé*/
footer {
   background: linear-gradient(to right, #665e5e9a, #edeff36f);
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer a {
  color: #00ccff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.rodape{
font-size: 9px;
}


/*whats*/
.whatsapp-fixo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.whatsapp-fixo img {
  width: 60px;
  height: 60px;
  transition: transform 0.3s;
}

.whatsapp-fixo img:hover {
  transform: scale(1.1);
}





       /*computador*/
@media (min-width: 769px){





header{
  padding: 4%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.fot{
  width: 50%;
  height: 28%;
    margin-top: 5%;
    margin-left: 25%;
    
}

div#foto p{
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* 🔥 faz quebrar quando a tela diminui */
  
}


div#foto{
  box-shadow: #030303 0px 4px 8px 0px;
  color: white;
  margin-right: 25%;
  margin-left: 25%;
  background-color: rgba(69, 69, 80, 0.568);
  padding-bottom: 12%;
}


        /* menu*/

          
.menu {
  position: absolute;
  top: 0;              
  left: 0;
  width: 100%;         
  display: flex;
  justify-content: center; /* MEIO da tela */
  background: transparent; /* ou cor se quiser */
  z-index: 1000;
}


.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 15px 0;
}
.menu a {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
 
}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}


.consultora{
 margin-top: 5%; 
  text-align:center;
  font-size: 30px;
  display: flex;
 
}





}




          /* celular*/

@media (max-width: 480px) and ( max-width: 900px){

    


  div#vi{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
.fot{
    width: 200px;
    margin-top: 25%;
    margin-left: 25%;
}
div#foto p{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* menu*/

.menu a{
  position: relative;
 background-color: rgba(49, 47, 47, 0.4);
 padding: 9px;
  color: white;
  text-decoration: none;  
 
  
 
}
.consultora{
 margin-top: 5%; 
  text-align:center;
  font-size: 100%;
  position: absolute;
}

}



 
